AI_Model/boundary_boxes/group_1_boundary_boxes/caenis/vott-csv-export/
AI_Model/boundary_boxes/group_1_boundary_boxes/ecdyonurus/vott-csv-export/
AI_Model/boundary_boxes/group_1_boundary_boxes/ephemera_danica/vott-csv-export/
AI_Model/boundary_boxes/group_1_boundary_boxes/heptagenia/vott-csv-export/
AI_Model/boundary_boxes/group_1_boundary_boxes/rhithrogena/vott-csv-export/
AI_Model/boundary_boxes/group_1_boundary_boxes/serratella_ignita/vott-csv-export/
AI_Model/images/
