{% comment %} <h1>Scheme:{{request.scheme }}</h1>
<h1>Body:{{request.body }}</h1>
<h1>Path:{{request.path }}</h1>
<h1>Path_info:{{request.path_info }}</h1>
<h1>Method :{{request.method }}</h1>
<h1>Encoding : {{request.encoding }}</h1>
<h1>Content_type:{{request.content_type }}</h1>
<h1>Content_params:{{request.content_params }}</h1>
<h1>Get:{{request.GET }}</h1>
<h1>Post:{{request.POST }}</h1>
<h1>Cookies:{{request.COOKIES }}</h1>
<h1>Files:{{request.FILES }}</h1>
<h1>Meta:{{request.META }}</h1>
<h1>Header:{{request.headers }}</h1> {% endcomment %}


<h1>{{request}}</h1>